<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!---传入th:replace，取代原有head元素，即添加了th:href="@{/css/me.css}"等相关引用--->
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-------(若使用th:replace则不再需要添加)--格式混乱，css未找到路径，原因是需thymeleaf引入--th:href="@{/css/me.css}"--------->
    <!-------(若使用th:replace则不再需要添加)--只对静态页面产生影响----------------------------------------------------------->
    <link rel="stylesheet" href="../../static/css/me.css"> <!--(若使用th:replace则不再需要添加)th:href="@{/css/me.css}"-->
</head>

<body>

<!--导航-->
<!---将导航做统一模板，引入th:replace通过参数n区分不同active，此处传入0--->
<nav th:replace="admin/_fragments :: menu(1)"class="ui inverted attached segment m-padded-tb-mini m-shadow-bottom-small">
    <div class="ui container">
        <!--导航主菜单-->
        <div class="ui inverted secondary stackable menu ">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客管理</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tasks icon"></i>分类管理</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签管理</a>
            <div class="m-item right item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="images/myavatar.jpg">
                        why
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <!--------通过Thymeleaf中th:href注销---Controller---/admin/loginOut----->
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
        <!--导航手机端菜单按钮-->
    </div>
    <a href="#" class="ui menu toggle black m-top-right m-pc-hide button">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogManage}" class="teal active item">列表</a>
            <a href="#" th:href="@{/admin/blogManage/add}" class="item">新增</a>
        </div>
    </div>
</div>

<!--中间-->
<div class="m-container m-padded-tb-large">
    <div class="ui container">
        <!--上面框选项-->
        <!--与JS对应，传递form表单内输入的title/typeId等内容，用于局部渲染-->
        <!--不再用form表单post请求，而是调用JS方法-->
        <!--form action="#" method="post" class="ui secondary segment form"-->
        <div class="ui secondary segment form">
            <!---定义隐含域----将page参数放入form表单内--后台传递page值--用于点击上下页时动态赋值，使查询条件不丢失--->
            <input type="hidden" name="page">
            <!--上框多个field-->
            <div class="inline fields">
                <!--标题-->
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <!--分类-->
                <div class="field">
                    <div class="ui selection dropdown">
                        <!---定义隐含域----后台传递type值--->
                        <input type="hidden" name="typeId">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <div class="menu">
                            <!--与后端结合 使用th:each="type:${types}"以循环的方式从types对象可以获取所有type对象 -->
                            <div th:each="type:${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">错误日志</div>
                        </div>
                    </div>
                </div>
                <!--推荐-->
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="recommendOpening" id="recommendOpening">
                        <label for="recommendOpening">推荐</label>
                    </div>
                </div>
                <!--搜索-->
                <div class="field">
                    <!--不再用form表单post请求，而是对button调用JS方法-->
                    <!--button class="ui basic violet button"><i class="search icon"></i>搜索</button-->
                    <button type="button" id="search-button" class="ui basic violet button"><i class="search icon"></i>搜索</button>
                </div>
            </div>
        </div>
        <!--下框表-->
        <!--配合自定义loadData用于实现jQuery的ajax请求方法，通过 HTTP 请求加载远程数据，使用load方法动态获取表格内容，用于在搜索和上下翻页时局部渲染--<div id="table-container">不用#-->
        <div id="table-container">
            <!-- :: blogList用于返回管理页下面的blogList片段，用于局部渲染，除列表显示外，其他区域不刷新，可以在点击上下页时保留查询条件，此处与Controller对应-->
            <table th:fragment="blogList" class="ui teal celled table">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <!--与后端结合 使用th:each以循环的方式从page对象中的content可以获取所有Blog对象 iterStat表示进行循环 -->
                <tr th:each="blog,iterStat:${page.content}">
                    <!--使用th:text从iterStat中获取循环索引值-->
                    <td th:text="${iterStat.count}">1</td>
                    <!--使用th:text从每个blog对象获取指定字段值-->
                    <td data-label="标题" th:text="${blog.title}">James</td>
                    <td data-label="类型" th:text="${blog.type.name}">24</td>
                    <td data-label="推荐" th:text="${blog.recommendOpening} ? '是' : '否' ">Engineer</td>
                    <td data-label="更新时间" th:text="${blog.updateTime}">James</td>
                    <td data-label="操作">
                        <!--返回编辑页面-->
                        <!--------通过Thymeleaf中th:href---Controller---/admin/blogManage----->
                        <!--使用${blog.id}从每个blog对象获取id 调用update 然后替换路径中（id）-->
                        <a href="#" th:href="@{/admin/blogManage/update/{id}(id=${blog.id})}" class="ui mini teal button">编辑</a>
                        <!--返回删除页面-->
                        <!--使用${blog.id}从每个blog对象获取id 调用delete 然后删除路径中（id）-->
                        <a href="#" th:href="@{/admin/blogManage/delete/{id}(id=${blog.id})}" class="ui mini red button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        <!----------------------------这种方式未传递查询值，只传递分页页码，会造成在点击上下页时查询条件丢失------------------------------------------------->
                        <!--------通过Thymeleaf中th:href---Controller---/admin/blogManage----->
                        <!--th:if="${page.totalPages>1}"代表如果总页数大于1才显示 上下一页的框-->
                        <!--
                        <div class="ui pagination menu" th:if="${page.totalPages>1}">-->
                        <!--返回上一页-->
                        <!--使用${page.number}从page对象获取number页数 -1则为上一页-->
                        <!--反馈到url上 http://localhost:8080/admin/blogManage?page=1 (page>=-1) -->
                        <!--th:unless="${page.first}"代表如果不是第一页 就显示第上一页按钮-->
                        <!--     <a th:href="@{/admin/tagManage(page=${page.number}-1)}" class="icon item" th:unless="${page.first}">上一页</a>-->
                        <!--返回下一页-->
                        <!--使用${page.number}从page对象获取number页数 +1则为下一页-->
                        <!--反馈到url上 http://localhost:8080/admin/blogeManage?page=1 (page>=-1) -->
                        <!--th:unless="${page.last}"代表如果不是最后一页 就显示第下一页按钮-->
                        <!--    <a th:href="@{/admin/tagManage(page=${page.number}+1)}" class="icon item" th:unless="${page.last}">下一页</a>-->
                        <!-- </div>-->
                        <!---------------------------这种方式未传递查询值，只传递分页页码，会造成在点击上下页时查询条件丢失------------------------------------------------->

                        <div class="ui pagination menu" th:if="${page.totalPages>1}">
                            <!----返回上一页----------------------------------------------------------
                                    onclick="page()"当点击上下页时调用page的js方法，动态处理form表单中page属性值，从而传递对象，最终提交表单请求数据；
                                    th:attr="data-page=${page.number}-1表示Thymeleaf渲染时，给data-page赋值
                             ----------------------------------------------------------------------->
                            <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="icon item" th:unless="${page.first}">上一页</a>
                            <!--返回下一页----------------------------------------------------------->
                            <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="icon item" th:unless="${page.last}">下一页</a>
                        </div>

                        <!--新增-->
                        <!--------通过Thymeleaf中th:href---Controller---/admin/blogManage/add----->
                        <!--使用/admin/blogManage/add进入新增页-->
                        <a href="#" th:href="@{/admin/blogManage/add}" class="ui right floated blue button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
</div>

<!--底部-->
<!---将底部做统一模板，引入th:replace，每个页面底部完全一致--->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-large m-shadow-top-small">
    <div class="ui center aligned container">
        <!-----上方介绍----->
        <div class="ui inverted divided stackable grid">
            <!-----左边二维码----->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!---引入th:replace后不需加th:src="@{/images/wechat1.jpg}"-->
                        <img src="../static/images/wechat1.jpg" class="ui rounded image" style="width: 130px">
                    </div>
                </div>
            </div>
            <!-----中间最新博客----->
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <!-----中间联系我----->
            <div class="four wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">E-mail：wanghaoyang949@gmail.com</a>
                    <a href="#" class="item">QQ：363057994</a>
                </div>
            </div>
            <!-----右边资料----->
            <div class="six wide column">
                <h4 class="ui inverted header ">WHY</h4>
                <p class="m-text-thin m-text-spaced m-opacity-small">1111111111111</p>
            </div>
        </div>
        <!-----下方所有权----->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2021 Why. All Rights Reserved. </p>
    </div>
</footer>

<!-----Thymeleaf中特殊注释方式，在Thymeleaf模板下会自动取消注释------->
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
    <script>
        //手机端导航菜单按钮
        $('.menu.toggle').click(function (){
            $('.m-item').toggleClass('m-mobile-hide');
        });
        //下拉选择框脚本
        $('.ui.dropdown')
            .dropdown({
                // you can use any ui transition
                on:'hover',
                transition: 'drop'
            });
        //点击搜索按钮脚本<div id="table-container">不用#
        $('#search-button').click(function () {
            loadData();
        });
        //用于点击上下页时动态处理form表单中page属性值
        function page(obj) {
            //name='page'获取隐含域，val用于对其赋obj的值，obj为点击时生成对象，.data()为自定义的data-page值
            $("[name='page']").val($(obj).data("page"));
            //点击上下页时也需要调用此方法
            loadData();
        }
        //不能再使用form表单的submit请求，自定义loadData用于实现jQuery的ajax请求方法，通过 HTTP 请求加载远程数据，使用load方法动态获取表格内容
        function loadData() {
            //"#table-container"代表外层div，使用load方法请求地址，传递form表单内输入的title/typeId等内容
            ///*[[@{/admin/blogManage/search}]]*/为thymeleaf写法
            $("#table-container").load(/*[[@{/admin/blogManage/search}]]*/"/admin/blogManage/search",{
                title: $("[name='title']").val(),
                typeId: $("[name='typeId']").val(),
                recommendOpening: $("[name='recommendOpening']").prop('checked'),
                page: $("[name='page']").val()
            });
        }
    </script>



</body>


</html>
