<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!---传入th:replace，取代原有head元素，即添加了th:href="@{/css/me.css}"等相关引用--->
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>分类管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-------(若使用th:replace则不再需要添加)--格式混乱，css未找到路径，原因是需thymeleaf引入--th:href="@{/css/me.css}"--------->
    <!-------(若使用th:replace则不再需要添加)--只对静态页面产生影响----------------------------------------------------------->
    <link rel="stylesheet" href="../../static/css/me.css"> <!--(若使用th:replace则不再需要添加)th:href="@{/css/me.css}"-->
</head>

<body>
<!-- Sidebar Menu -->
<div th:replace="admin/_fragments :: sidebar(2)" class="ui vertical sidebar menu">

</div>

<div class="pusher">
    <!--导航-->
    <!---将导航做统一模板，引入th:replace通过参数n区分不同active，此处传入0--->
    <nav th:replace="admin/_fragments :: menu(2)"class="ui inverted attached segment m-padded-tb-mini m-shadow-bottom-small">
        <div class="ui container">
            <!--导航主菜单-->
            <div class="ui inverted secondary stackable menu ">
                <h2 class="ui teal header item">后台管理</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客管理</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tasks icon"></i>分类管理</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签管理</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="images/myavatar.jpg">
                            why
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <!--------通过Thymeleaf中th:href注销---Controller---/admin/loginOut----->
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--导航手机端菜单按钮-->
        </div>
        <a href="#" class="ui menu toggle black m-top-right m-pc-hide button">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--二级导航-->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/typeManage}" class="teal active item">列表</a>
                <a href="#" th:href="@{/admin/typeManage/add}" class="item">发布</a>
            </div>
        </div>
    </div>

    <!--中间-->
    <div class="m-container m-padded-tb-large">
        <div class="ui container">

            <!-------由RedirectAttributes输入 增加上方自定义提示消息 使用Thymeleaf进行判断 分类名称输入不为空时提示消息------->
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i><div class="header">提示：</div>
                <p th:text="${message}">操作成功！</p>
            </div>

            <!--页面头部-->
            <div class="ui teal segment m-padded-tb-medium">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">分类管理</h3>
                    </div>
                </div>
            </div>

            <!--管理表-->
            <table class="ui teal celled table">
                <!--表头-->
                <thead>
                <tr>
                    <th></th>
                    <th>分类名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <!--内容-->
                <tbody>
                <!--与后端结合 使用th:each以循环的方式从page对象中的content可以获取所有type对象 iterStat表示进行循环 -->
                <tr th:each="type,iterStat:${page.content}">
                    <!--使用th:text从iterStat中获取循环索引值-->
                    <td th:text="${iterStat.count}">1</td>
                    <!--使用th:text从每个type对象获取name-->
                    <td th:text="${type.name}">学习日志</td>
                    <td data-label="操作">
                        <!--返回编辑页面-->
                        <!--------通过Thymeleaf中th:href---Controller---/admin/typeManage----->
                        <!--使用${type.id}从每个type对象获取id 调用update 然后替换路径中（id）-->
                        <a href="#" th:href="@{/admin/typeManage/update/{id}(id=${type.id})}" class="ui mini teal button">编辑</a>
                        <!--返回删除页面-->
                        <!--------通过Thymeleaf中th:href---Controller---/admin/typeManage----->
                        <!--使用${type.id}从每个type对象获取id 调用delete 然后删除路径中（id）-->
                        <a href="#" th:href="@{/admin/typeManage/delete/{id}(id=${type.id})}" class="ui mini red button">删除</a>
                    </td>
                </tr>
                </tbody>
                <!--底部-->
                <tfoot>
                <tr>
                    <th colspan="6">
                        <!--th:if="${page.totalPages>1}"代表如果总页数大于1才显示 上下一页的框-->
                        <div class="ui pagination menu" th:if="${page.totalPages>1}">
                            <!--返回上一页-->
                            <!--------通过Thymeleaf中th:href---Controller---/admin/typeManage----->
                            <!--使用${page.number}从page对象获取number页数 -1则为上一页-->
                            <!--反馈到url上 http://localhost:8080/admin/typeManage?page=1 (page>=-1) -->
                            <!--th:unless="${page.first}"代表如果不是第一页 就显示第上一页按钮-->
                            <a th:href="@{/admin/typeManage(page=${page.number}-1)}" class="icon item" th:unless="${page.first}">上一页</a>
                            <!--返回下一页-->
                            <!--------通过Thymeleaf中th:href---Controller---/admin/typeManage----->
                            <!--使用${page.number}从page对象获取number页数 +1则为下一页-->
                            <!--反馈到url上 http://localhost:8080/admin/typeManage?page=1 (page>=-1) -->
                            <!--th:unless="${page.first}"代表如果不是最后一页 就显示第下一页按钮-->
                            <a th:href="@{/admin/typeManage(page=${page.number}+1)}" class="icon item" th:unless="${page.last}">下一页</a>
                        </div>
                        <!--新增-->
                        <!--------通过Thymeleaf中th:href---Controller---/admin/typeManage/add----->
                        <!--使用/admin/typeManage/add进入新增页-->
                        <a href="#" th:href="@{/admin/typeManage/add}" class="ui right floated blue button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!--底部-->
<!---将底部做统一模板，引入th:replace，每个页面底部完全一致--->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-large m-shadow-top-small">
    <div class="ui center aligned container">
        <!-----上方介绍----->
        <div class="ui inverted divided stackable grid">
            <!-----左边二维码----->
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!---引入th:replace后不需加th:src="@{/images/wechat1.jpg}"-->
                        <img src="../static/images/wechat1.jpg" class="ui rounded image" style="width: 130px">
                    </div>
                </div>
            </div>
            <!-----中间最新博客----->
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <!-----中间联系我----->
            <div class="four wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">E-mail：wanghaoyang949@gmail.com</a>
                    <a href="#" class="item">QQ：363057994</a>
                </div>
            </div>
            <!-----右边资料----->
            <div class="six wide column">
                <h4 class="ui inverted header ">WHY</h4>
                <p class="m-text-thin m-text-spaced m-opacity-small">1111111111111</p>
            </div>
        </div>
        <!-----下方所有权----->
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2021 Why. All Rights Reserved. </p>
    </div>
</footer>

<!-----Thymeleaf中特殊注释方式，在Thymeleaf模板下会自动取消注释------->
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    //手机端导航菜单按钮
    $('.menu.toggle').click(function (){
        $('.m-item').toggleClass('m-mobile-hide');
    });
    //下拉选择框脚本
    $('.ui.dropdown')
        .dropdown({
            // you can use any ui transition
            on:'hover',
            transition: 'drop'
        });
    //消息提示关闭脚本
    $('.message .close')
        .on('click',function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
</div>

</body>


</html>